services:
  tests-frontend:
    build: .
    command: ["npm", "test", "--", "--watchAll=false"]
    volumes:
      - .:/app
    networks:
      - autenticador_network

  frontend:
    build: .
    container_name: raza-frontend
    command: ["npm", "run", "dev"]
    depends_on:
      tests-frontend:
        condition: service_completed_successfully
    ports:
      - "80:80"
    env_file:
      - .env
    volumes:
      - .:/app
    networks:
      - autenticador_network

networks:
  autenticador_network:
    external: true
